.hugeTitle {
  margin-bottom: 0.25em;
  font-size: 64px;
  font-size: var(--font-huge);
  font-weight: 700;
  color: var(--color-primary);
}

.hugeTitleSub {
  font-size: 18px;
  font-size: var(--font-increased);
  color: var(--color-secondary);
}

.intro {
  padding: 32px 0;
}

@media (min-width: 768px) {
  .intro {
    padding: 60px 0;
  }
}

@media (min-width: 1024px) {
  .intro {
    padding: 60px 0;
  }
}

.introTitle {
  margin-bottom: 0.5em;
  font-size: 24px;
  font-size: var(--font-large);
  font-weight: 700;
  color: var(--color-primary);
}
